<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>

   
	
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
	
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDsRWUKzPSNBDWWScXH0nL0n3Sn_CD20xc",
    authDomain: "fir-project-f8aa4.firebaseapp.com",
    databaseURL: "https://fir-project-f8aa4.firebaseio.com",
    projectId: "fir-project-f8aa4",
    storageBucket: "fir-project-f8aa4.appspot.com",
    messagingSenderId: "582440646450",
    appId: "1:582440646450:web:6f529e373403e8d165092b",
    measurementId: "G-TE8BGX11BY"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<body>

<!-- See https://github.com/firebase/firebaseui-web. -->
<!-- [START gae_python37_auth_init_firebase] -->
<!-- *******************************************************************************************
     * TODO(DEVELOPER): Paste the initialization snippet from:
     * http://console.firebase.google.com > Overview > Add Firebase to your web app.
     ***************************************************************************************** -->
<!-- [END gae_python37_auth_init_firebase] -->  
<script>
  if (typeof firebase === 'undefined') {
    const msg = "Please paste the Firebase initialization snippet into index.html. See https://console.firebase.google.com > Overview > Add Firebase to your web app.";
    console.log(msg);
    alert(msg);
  }
</script>
	
<!-- [START gae_python37_auth_include_firebaseui] -->
   <script src="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.js"></script>
   <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.css">
   <!-- [END gae_python37_auth_include_firebaseui] -->

<!-- [START gae_python37_auth_firebase_html] -->
<h1>Datastore and Firebase Auth Example</h1>

<div id="firebaseui-auth-container"></div>

<button id="sign-out" hidden=true>Sign Out</button>

<div id="login-info" hidden=true>
  <h2>Login info:</h2>
  {% if user_data %}
    <dl>
      <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
      <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
      <dt>Last 10 visits</dt><dd>
	{% for time in times %}
          <p>{{ time['timestamp'] }}</p>
        {% endfor %} </dd>
    </dl>
  {% elif error_message %}
    <p>Error: {{ error_message }}</p>
  {% endif %}
</div>
<!-- [END gae_python37_auth_firebase_html] -->
</body>
</html>
